h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.clients__title, .team__main-title, .activities__main-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__title, .team__main-title, .activities__main-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__link, .advantages__thumb, .soc-links__link, .agreement__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: #ffffff;
}

.logo__accent {
  color: #2196f3;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn--main {
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.open-menu-btn {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .open-menu-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu__btn {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.mob-menu__btn:hover, .mob-menu__btn:focus, .mob-menu__btn:active {
  fill: #2196f3;
}

.mob-menu__list {
  margin-bottom: 56px;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02;
  color: #212121;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link--current {
  color: #2196f3;
}

.mob-contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02;
}

.mob-contacts__tel {
  display: block;
  margin-bottom: 32px;
  font-size: 28px;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mob-contacts__tel {
    font-size: 34px;
  }
}

.mob-contacts__mail {
  display: block;
  margin-bottom: 64px;
  font-size: 24px;
}

.mob-socials {
  display: flex;
}

.mob-socials__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.22;
  letter-spacing: 0.02;
  color: #2196f3;
}
.mob-socials__item:not(:last-child)::after {
  content: "";
  margin: 0 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
@media screen and (min-width: 480px) {
  .mob-socials__item {
    font-size: 18px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 609px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 500ms linear, visibility 500ms linear, opacity 500ms linear;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-height: 479px) {
  .modal {
    top: calc(50% + 145px);
  }
}
@media screen and (min-height: 480px) and (max-height: 620px) {
  .modal {
    top: calc(50% + 80px);
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover .modal__icon-close {
  fill: #2196f3;
}

.modal__title {
  margin-bottom: 12px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form-field {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__wrap {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196f3;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__form-icon {
  fill: #2196f3;
}

.modal__comment {
  margin-bottom: 20px;
}

.modal__textarea {
  width: 100%;
  height: auto;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.17;
}
.modal__textarea:placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  border-color: #2196f3;
}

.modal__check {
  margin-bottom: 30px;
}

.agreement__label {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 9px;
  line-height: 1.16;
  white-space: pre;
}
@media screen and (min-width: 480px) {
  .agreement__label {
    font-size: 12px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .agreement__label {
    width: 423px;
    font-size: 14px;
    line-height: 2;
    margin: 0 auto;
  }
}

.agreement__checkbox {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
}

.agreement__input:checked + .agreement__label span {
  background-color: #2196f3;
  fill: #ffffff;
  border-color: transparent;
}

.agreement__link {
  color: #2196f3;
  text-underline-offset: 3px;
}

.modal__btn-submit {
  min-width: 200px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.soc-links {
  display: flex;
  justify-content: center;
}

.soc-links__item {
  width: 44px;
  height: 44px;
}
.soc-links__item:not(:last-child) {
  margin-right: 10px;
}

.soc-links__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-links__link:hover, .soc-links__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.soc-links__link--grey {
  color: #afb1b8;
  background-color: transparent;
}

.soc-links__link--white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo {
  width: 134px;
  padding: 16px 0px 16px 0px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0px 26px 0px;
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 145px;
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    min-width: 281px;
  }
}

.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
  display: flex;
}
.nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  background-color: #2196f3;
  border-radius: 4px;
}

.header__contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}

.contacts__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:first-child {
  margin-bottom: 10px;
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
  }
  .contacts__link:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-mob-2x.jpeg");
  }
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab.jpeg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-tab-2x.jpeg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpeg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-2x.jpeg");
  }
}

.hero__title {
  width: 100%;
  margin: 0 auto 30px auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  min-width: 200px;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-wrap: nowrap;
  }
}

.advantages__item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages__thumb {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__list {
  display: flex;
}

.activities__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.activities__item:not(:last-child) {
  margin-right: 30px;
}

.activities__text {
  width: 100%;
  padding: 27px 0;
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  flex-basis: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__item > img {
  width: 100%;
}

.team__item-discription {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  flex-basis: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer__address-wrap {
  margin-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .footer__address-wrap {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__address-wrap {
    width: 232px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-wrap {
    width: 231px;
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__item {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address__item:first-child {
  color: #ffffff;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.footer__socials {
  margin-bottom: 60px;
  width: 206px;
}
@media screen and (max-width: 1199px) {
  .footer__socials {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socials {
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__socials {
    padding-top: 12px;
    margin: 0 93px 0 0;
  }
}

.socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-form {
  width: 290px;
}
@media screen and (max-width: 1199px) {
  .subscription-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .subscription-form {
    width: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form {
    width: 570px;
  }
}

.subscription-form__text {
  display: inline-block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscription-form__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscription-form__form {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__form {
    height: 50px;
    flex-wrap: nowrap;
  }
}

.subscription-form__input {
  margin-bottom: 20px;
  padding-left: 15px;
  flex-basis: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form__input:focus {
  border-color: #2196f3;
  outline: transparent;
}
@media screen and (min-width: 480px) {
  .subscription-form__input {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription-form__input {
    margin-bottom: 0px;
    margin-right: 12px;
    flex-basis: 358px;
  }
}

.subscription-form__btn {
  flex-basis: 200px;
  padding: 0 28px 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form__icon {
  fill: #ffffff;
}

.portfolio__filters {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filters {
    margin-bottom: 50px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .filters {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filters {
    flex-wrap: nowrap;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus, .filters__btn:active {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .works {
    justify-content: center;
  }
}

.works__item {
  flex-basis: 100%;
  background-color: #ffffff;
}
@media screen and (max-width: 479px) {
  .works__item {
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .works__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.works__link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__thumb {
  position: relative;
  overflow: hidden;
}

.works__thumb > img {
  width: 100%;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .works__thumb > img {
    width: 450px;
  }
}

.works__overlay-text {
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works__link:hover .works__overlay-text {
  transform: translateY(0);
}

.works__item-description {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-height {
    height: 146px;
  }
}

.works__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.works__text {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */