.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn--main {
  height: 50px;
  background-color: $accent-color;
  color: $light-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}