body {
  background-color: $main-background-color;
  color: $main-text-color;
  font-family: $basic-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  
  @include desktop {
    padding: 94px 0;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
