%section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: $secondary-text-color;

  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

%flex-centering {
  display: flex;
  align-items: center;
  justify-content: center;
}