.footer {
  background-color: $dark-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.footer__address-wrap {
  margin-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include tablet {
    width: 232px;
    margin-right: 165px;
  }

  @include desktop {
    width: 231px;
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__item {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  &:first-child {
    color: $light-text-color;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  transition: color $transition-time;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer__socials {
  margin-bottom: 60px;
  width: 206px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 102px;
  }

  @include desktop {
    padding-top: 12px;
    margin: 0 93px 0 0;
  }
}

.socials__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: $light-text-color;
  text-transform: uppercase;
}

.subscription-form {
  width: 290px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    width: 460px;
  }
  @include desktop {
    width: 570px;
  }
}

.subscription-form__text {
  display: inline-block;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $light-text-color;
}

.subscription-form__form {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    height: 50px;
  }

  @include desktop {
    height: 50px;
    flex-wrap: nowrap;
  }
}

.subscription-form__input {
  margin-bottom: 20px;
  padding-left: 15px;
  flex-basis: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  transition: border $transition-time;
  &:focus {
    border-color: $accent-color;
    outline: transparent;
  }

  @include mobile {
    flex-basis: 450px;
  }

  @include desktop {
    margin-bottom: 0px;
    margin-right: 12px;
    flex-basis: 358px;
  }
}

.subscription-form__btn {
  flex-basis: 200px;
  padding: 0 28px 0 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: $button-shadow;
}

.subscription-form__icon {
  fill: $light-text-color;
}
