.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;

  @include tablet{
    height: 80px;
  }
}

.header__logo {
  width: 134px;
  padding: 16px 0px 16px 0px;

  @include tablet {
    padding: 26px 0px 26px 0px;
    margin-right: 87px;
  }

  @include desktop {
    width: 145px;
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
  }
}

.nav__list {
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    min-width: 281px;
  }
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  transition: color $transition-time;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;

    display: flex;
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -1px;
      background-color: $accent-color;
      border-radius: 4px;
    }
  }
}

.header__contacts {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $transition-time;
  
  &:first-child {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include desktop {
    padding: 32px 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 0px;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}